body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 20px;
  background: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #000000;
}

.tab {
  width: 140px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;

  border: 2px solid #444;
  border-radius: 12px;

  font-size: clamp(0.8rem, 1vw, 1rem);
  font-weight: 500;

  transition: all 0.2s ease;

  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tab:hover {
  background: #14c4ca;
  border-color: #666;
  transform: translateY(-2px);
}

.tab.active {
  background: #4caf50;
  border-color: #66d46a;
  font-weight: 700;
}

.page-content {
  padding: 2rem;
}


.tracker-row {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.vertical-tab {
  flex: 1;
  height: 200px;
  background: #333;
  border-radius: 10px;
}
.page-content{
  padding-top: 10px;
}