body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 20px;
  background: #1e1e1e;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.tab {
  width: 140px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #2f2f2f;
  color: white;
  text-decoration: none;

  border: 2px solid #444;
  border-radius: 12px;

  font-size: clamp(0.8rem, 1vw, 1rem);
  font-weight: 500;

  transition: all 0.2s ease;

  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tab:hover {
  background: #3f3f3f;
  border-color: #666;
  transform: translateY(-2px);
}

.tab.active {
  background: #4caf50;
  border-color: #66d46a;
  font-weight: 700;
}

.page-content {
  padding: 2rem;
}